%h1 Welcome to Spotilist

%p
  This application allows you to browse information in Spotify from their Spotify URIs. Enter a Spotify URI into the search box above to view information about that particular URI.